@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbars globally to look like a native mobile app */
::-webkit-scrollbar {
  display: none;
}

* {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
